In [1]:
import pandas as pd
import numpy as np
import sys
from pyspark.sql import functions as f
import re
from functools import reduce
from pyspark.sql import SparkSession
from typing import Dict
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, TimestampType, FloatType
from pandas.tseries.offsets import MonthEnd
from datetime import datetime
import re
from pyspark.sql.window import Window
import plotly.express as px
from pyspark.ml.feature import Bucketizer
from itertools import chain
from pandas.tseries.offsets import MonthEnd
from geopy import distance
from dateutil.relativedelta import relativedelta
pd.set_option('display.max_columns', 200)

In [2]:
#!pip install scikit-learn --force
#!pip install catboost
#!pip install ipywidgets --force

In [3]:
df = pd.read_parquet('prepared_df.parquet')

In [4]:
df

,objectid,report_date,escrow_inflow,S_inflow,S_object,object_open_date,object_close_date,escrow_plan_close,escrow_fact_close,escrow_object_open_date,escrow_status,region_num,mean_price_per_metr,latitude,longitude,escrow_volume,S_volume,escrow_max_plan_close,escrow_max_fact_close,escrow_object_min_open_date,open_date,close_date,escrow_min_open_dt,escrow_max_open_dt,S_escrow/S_object,S_escrow,S_share,S
183,27214.0,2024-03-31,NaN,NaN,47367.00,2018-06-28,2024-03-31,NaT,NaT,NaT,Закрыт,77,NaN,55.881705,37.635428,NaN,NaN,2024-10-01,2023-12-18,2018-06-28,2018-06-28,2024-03-31,2021-07-31,2023-12-31,1.152980,54613.20,NaN,54613.20
498,34508.0,2024-03-31,NaN,NaN,65329.75,2019-09-23,2024-06-30,NaT,NaT,NaT,Закрыт,23,NaN,44.750342,37.730275,NaN,NaN,2024-12-31,2023-07-07,2019-09-23,2019-09-23,2024-06-30,2020-03-31,2024-02-29,0.888314,58033.36,NaN,58033.36
499,34508.0,2024-04-30,NaN,NaN,65329.75,2019-09-23,2024-06-30,NaT,NaT,NaT,Закрыт,23,NaN,44.750342,37.730275,NaN,NaN,2024-12-31,2023-07-07,2019-09-23,2019-09-23,2024-06-30,2020-03-31,2024-02-29,0.888314,58033.36,NaN,58033.36
500,34508.0,2024-05-31,NaN,NaN,65329.75,2019-09-23,2024-06-30,NaT,NaT,NaT,Закрыт,23,NaN,44.750342,37.730275,NaN,NaN,2024-12-31,2023-07-07,2019-09-23,2019-09-23,2024-06-30,2020-03-31,2024-02-29,0.888314,58033.36,NaN,58033.36
501,34508.0,2024-06-30,NaN,NaN,65329.75,2019-09-23,2024-06-30,NaT,NaT,NaT,Закрыт,23,NaN,44.750342,37.730275,NaN,NaN,2024-12-31,2023-07-07,2019-09-23,2019-09-23,2024-06-30,2020-03-31,2024-02-29,0.888314,58033.36,NaN,58033.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33715,46175.0,2023-10-31,1.821272e+08,1348.0,28002.40,2022-04-22,2027-06-30,2026-06-30,NaT,2022-04-22,Открыт,10,135109.202692,61.821115,34.311713,1.600238e+09,13265.1,2026-09-30,2024-01-31,2022-04-22,2022-04-22,2027-06-30,2022-08-31,2024-02-29,0.555163,15545.90,0.473713,28002.40
33716,46175.0,2023-11-30,7.547000e+07,542.6,28002.40,2022-04-22,2027-06-30,2026-06-30,NaT,2022-04-22,Открыт,10,139089.568743,61.821115,34.311713,1.675708e+09,13807.7,2026-09-30,2024-01-31,2022-04-22,2022-04-22,2027-06-30,2022-08-31,2024-02-29,0.555163,15545.90,0.493090,28002.40
33717,46175.0,2023-12-31,1.384829e+08,1029.5,28002.40,2022-04-22,2027-06-30,2026-06-30,NaT,2022-04-22,Открыт,10,134514.700340,61.821115,34.311713,1.814191e+09,14837.2,2026-09-30,2024-01-31,2022-04-22,2022-04-22,2027-06-30,2022-08-31,2024-02-29,0.555163,15545.90,0.529855,28002.40
33718,46175.0,2024-01-31,6.193682e+07,452.6,28002.40,2022-04-22,2027-06-30,2026-09-30,NaT,2022-04-22,Открыт,10,136846.698607,61.821115,34.311713,1.876128e+09,15289.8,2026-09-30,2024-01-31,2022-04-22,2022-04-22,2027-06-30,2022-08-31,2024-02-29,0.555163,15545.90,0.546017,28002.40
33719,46175.0,2024-02-29,3.448000e+07,256.1,28002.40,2022-04-22,2027-06-30,2026-06-30,NaT,2022-04-22,Открыт,10,134634.908239,61.821115,34.311713,1.910608e+09,15545.9,2026-09-30,2024-01-31,2022-04-22,2022-04-22,2027-06-30,2022-08-31,2024-02-29,0.555163,15545.90,0.555163,28002.40

In [5]:
obj_df = df[df['report_date'] > pd.to_datetime('2019-01-01')].groupby('objectid').apply(lambda df: df.merge(pd.DataFrame(
                {'report_date': pd.date_range(df['report_date'].min() + MonthEnd(-3), df['report_date'].max(), freq = 'M')})).fillna(
                            {col: df[col].mode()[0] if len(df[col].mode()) > 0 else np.nan for col in ['latitude', 'longitude']})).reset_index(drop = True)


obj_df = obj_df.assign(year = obj_df['report_date'].map(lambda dt: dt.year), 
                       quartal = obj_df['report_date'].map(lambda dt: dt.quarter))[obj_df['report_date'].between(pd.to_datetime('2019-01-01'), pd.to_datetime('2024-03-01'))]

df_price = obj_df[[col for col in obj_df.columns if col not in ['latitude', 'longitude']]]

obj_df = obj_df[['year', 'quartal', 'objectid', 'latitude', 'longitude']].drop_duplicates(subset = ['year', 'quartal', 'objectid'])

In [6]:
df_price

,objectid,report_date,escrow_inflow,S_inflow,S_object,object_open_date,object_close_date,escrow_plan_close,escrow_fact_close,escrow_object_open_date,escrow_status,region_num,mean_price_per_metr,escrow_volume,S_volume,escrow_max_plan_close,escrow_max_fact_close,escrow_object_min_open_date,open_date,close_date,escrow_min_open_dt,escrow_max_open_dt,S_escrow/S_object,S_escrow,S_share,S,year,quartal
0,1802.0,2019-01-31,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77,2019,1
1,1802.0,2019-02-28,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77,2019,1
2,1802.0,2019-03-31,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77,2019,1
3,1802.0,2019-04-30,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77,2019,2
4,1802.0,2019-05-31,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77,2019,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22764,46217.0,2023-10-31,29276920.0,359.99,7900.91,2021-12-28,2023-12-31,2024-06-30,2023-12-28,2021-12-28,Закрыт,16,81327.036862,256421370.0,3258.48,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.607340,5365.17,2023,4
22765,46217.0,2023-11-30,67190650.0,805.50,7900.91,2021-12-28,2023-12-31,2024-06-30,2023-12-28,2021-12-28,Закрыт,16,83414.835506,323612020.0,4063.98,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.757475,5365.17,2023,4
22766,46217.0,2023-12-31,106550848.0,1262.69,7900.91,2021-12-28,2023-12-31,2024-06-30,2024-02-19,2021-12-28,Закрыт,16,84384.011911,430162868.0,5326.67,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.992824,5365.17,2023,4
22767,46217.0,2024-01-31,0.0,0.00,7900.91,2021-12-28,2023-12-31,NaT,NaT,2021-12-28,Закрыт,16,75341.345463,430162868.0,5326.67,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.992824,5365.17,2024,1
22768,46217.0,2024-02-29,3272500.0,38.50,7900.91,2021-12-28,2023-12-31,2024-06-30,NaT,2021-12-28,Закрыт,16,85000.000000,433435368.0,5365.17,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,1.000000,5365.17,2024,1

In [7]:
obj_df.groupby('objectid').agg({'latitude': 'count', 'longitude': 'count'}).query('latitude != longitude')

Empty DataFrame
Columns: [latitude, longitude]
Index: []

In [8]:
t = pd.concat([obj_df.sample(1)[['latitude','longitude']].reset_index(drop = True), 
           obj_df.sample(1)[['latitude','longitude']].rename(columns = dict(zip(['latitude','longitude'], ['latitude_part','longtitude_part']))).reset_index(drop = True)], axis = 1)
t

    latitude  longitude  latitude_part  longtitude_part
0  55.750337   37.70674      54.938751        20.146135

In [8]:
spark.table('prod_repl_cld_cian.cian_primary_premise').limit(100).toPandas()

,cian_id,realty_id,status_id,category_id,url,price_sqm,bargainterms_price,bargainterms_currency,creationdate,edit_date,extract_date,upload_date,exposure,views,contracttype_id,lat,lng,geo_userinput,geo_flag,geo_jk_name,geo_jk_id,geo_jk_house_name,geo_jk_house_id,roomscount,totalarea,minarea,livingarea,kitchenarea,floornumber,jk_house_flat_sectionnumber,jk_house_flat_flatnumber,jk_house_flat_flattype,decoration_id,conditiontype_id,repairtype_id,combinedwcscount,separatewcscount,balconiescount,loggiascount,parkingtype_id,roomsarea,source_id,bargainterms_clientfee,bargainterms_deposit,bargainterms_hasgraceperiod,bargainterms_vatincluded,isbyhomeowner,included_utility_charges,included_operational_costs,hasfurniture,undergrounds_name,undergrounds_time,undergrounds_transporttype,isapartments,ispenthouse,user_id,placementtype_id,inputtype_id,building_name,building_floorscount,buildingtype_id,buildingmaterialtype_id,acv_geo_region,acv_geo_raion_regiona,acv_geo_gorod,acv_geo_street,acv_geo_house,acv_geo_gorod_raw,acv_geo_dis_okrug,acv_geo_dis_raion,acv_geo_dis_mikroraion,korp_name,walls_material_id,korp_deadline_planned,korp_deadline_actual,korp_deadline_change,korp_stage_id,korp_finishing,has_fine_finishing,has_rough_finishing,is_without_finishing,korp_min_floor,korp_max_floor,cnt_studio,cnt_one_room_flat,cnt_two_room_flat,cnt_three_room_flat,cnt_four_room_flat,cnt_sv_pl_flat,cargo_lifts_cnt,passenger_lifts_cnt,undeground_parking_cnt,standalone_parking_cnt,guest_parking_cnt,cadastral_num,ceiling_height,website_jk,jk_name,developer,jk_alt_name,korp_class_id,building_id,gkh_series_id,building_ceiling_h,address,b_lat,b_lng,building_walls_type_id,building_floors_max,building_year_release,building_lifts,building_lifts_pass,building_lifts_service,building_renov,building_renov_refuse,building_energy_type_id,building_overlap_type_id,building_gas_type_id,building_chute_type_id,is_residence,bargainterms_prepay_months,bargainterms_pricetype_id,bargainterms_paymentperiod_id,classtype_id,system_dttm,datep
0,208608187,2005122.0,3,3,https://www.cian.ru/sale/flat/208608187,350000.0,42000000,rur,2019-05-28 00:00:00,2019-05-28 17:43:52,2020-05-19 00:00:00,2020-05-20 00:00:00,0,NaN,NaN,53.33294,83.69079,"Россия\, Алтайский край\, Барнаул\, Балтийская...",1,Test JK,270952.0,Test JK-House-1,1043178.0,2.0,120.00,NaN,NaN,NaN,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,28934895,NaN,NaN,None,13,NaN,NaN,Алтайский край,None,Барнаул,Балтийская улица,3,Барнаул,None,Индустриальный,None,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,1527714.0,NaN,NaN,"Россия\, Алтайский край\, Барнаул\, Балтийская...",53.3329,83.6908,3.0,10.0,2010.0,4.0,4.0,NaN,NaN,NaN,7.0,2.0,3.0,2.0,1.0,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
1,204681205,NaN,3,3,https://www.cian.ru/sale/flat/204681205,37999.0,2321000,rur,2019-04-04 00:00:00,2019-04-04 00:00:00,2020-05-19 00:00:00,2020-05-20 00:00:00,0,236.0,NaN,56.64068,47.86418,"Республика Марий Эл\, Йошкар-Ола\, улица Анциф...",1,Парк Победы,57947.0,Дом 1,581236.0,2.0,61.08,NaN,27.2,9.5,10,None,NaN,None,2.0,NaN,NaN,NaN,1.0,NaN,1.0,NaN,None,1,NaN,NaN,None,None,None,False,False,None,None,NaN,None,False,False,13405260,NaN,NaN,None,10,NaN,3.0,Республика Марий Эл,None,Йошкар-Ола,улица Анциферова,Дом 1,Йошкар-Ола,None,None,None,Дом 1,1.0,2019-10-01,2019-10-01,['2019-10-01'],3,None,None,None,None,15.0,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12:05:0302008:2102,NaN,http://doma-12.ru,Парк Победы,НАШ ДОМ,None,1.0,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
2,209459858,3480244.0,3,3,https://www.cian.ru/sale/flat/209459858,350000.0,42000000,rur,2019-06-07 00:00:00,2019-06-07 03:11:13,2020-05-19 00:00:00,2020-05-20 00:00:00,0,NaN,NaN,57.80556,28.34716,"Россия\, Псковская область\, Псков\, улица Мет...",1,Test JK,305219.0,Test JK-House-1,NaN,2.0,120.00,NaN,NaN,NaN,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,29554955,NaN,NaN,None,13,NaN,NaN,Псковская область,None,Псков,улица Металлистов,18,Псков,None,None,None,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
3,207316806,3370304.0,3,3,https://www.cian.ru/sale/flat/207316806,350000.0,42000000,rur,2019-05-13 00:00:00,2019-05-20 00:21:29,2020-05-19 00:00:00,2020-05-20 00:00:00,7,NaN,NaN,55.65430,37.27085,"Россия\, Московская область\, Одинцово\, улица...",1,Test JK,213084.0,Test JK-House-1,NaN,2.0,120.00,NaN,NaN,NaN,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,27718237,NaN,NaN,None,13,NaN,NaN,Московская область,Одинцовский городской округ,Одинцово,улица Каштановая,10,Одинцово,None,None,Одинцово-1,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
4,208727219,2556381.0,3,3,https://www.cian.ru/sale/flat/208727219,350000.0,42000000,rur,2019-05-30 00:00:00,2019-05-30 03:12:47,2020-05-19 00:00:00,2020-05-20 00:00:00,0,NaN,NaN,54.59784,39.69810,"Россия\, Рязанская область\, Рязань\, улица Ко...",1,Test JK,276673.0,Test JK-House-1,NaN,2.0,120.00,NaN,NaN,NaN,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,29066692,NaN,NaN,None,13,NaN,NaN,Рязанская область,None,Рязань,улица Котовского,1,Рязань,None,Железнодорожный,Южный,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,1653808.0,NaN,NaN,"Россия\, Рязань\, улица Котовского\, 1",54.5978,39.6981,1.0,5.0,1992.0,0.0,NaN,NaN,NaN,NaN,NaN,2.0,2.0,NaN,1.0,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,199799813,2277122.0,3,3,https://www.cian.ru/sale/flat/199799813,33000.0,1938750,rur,2019-01-17 00:00:00,2019-04-21 00:00:00,2020-05-19 00:00:00,2020-05-20 00:00:00,94,4.0,NaN,54.94510,82.96788,"Новосибирская Область\, городской округ Новоси...",1,None,NaN,None,NaN,2.0,58.75,NaN,NaN,NaN,10,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,14391581,NaN,NaN,None,10,NaN,7.0,Новосибирская область,None,Новосибирск,Бронная улица,2/6,Новосибирск,None,Кировский,None,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
96,208116449,2189864.0,3,3,https://www.cian.ru/sale/flat/208116449,350000.0,42000000,rur,2019-05-23 00:00:00,2019-05-23 12:38:47,2020-05-19 00:00:00,2020-05-20 00:00:00,0,NaN,NaN,52.61674,39.57906,"Россия\, Липецкая область\, Липецк\, улица Кос...",1,Test JK,242352.0,Test JK-House-1,995060.0,2.0,120.00,NaN,NaN,NaN,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,28392891,NaN,NaN,None,13,NaN,NaN,Липецкая область,None,Липецк,улица Космонавтов,5,Липецк,Советский,None,Военный Городок,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,1675226.0,NaN,NaN,"Россия\, Липецк\, улица Космонавтов\, 5",52.6167,39.5792,1.0,9.0,1973.0,4.0,4.0,NaN,NaN,NaN,1.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
97,198874400,3533390.0,3,3,https://www.cian.ru/sale/flat/198874400,53000.0,3784200,rur,2018-12-26 00:00:00,2019-04-01 00:00:00,2020-05-19 00:00:00,2020-05-20 00:00:00,96,28.0,NaN,45.03325,39.04239,"Краснодарский край\, Краснодар\, Уральская ули...",1,Галактика,48875.0,Литер 1,108840.0,2.0,71.40,NaN,35.0,15.1,8,None,NaN,2-71.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,34.98,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,False,False,21338888,NaN,NaN,None,24,NaN,4.0,Краснодарский край,None,Краснодар,Уральская улица,71лит1,Краснодар,Карасунский,None,ХБК,Литер 1,3.0,2020-10-01,2020-10-01,['2020-10-01'],5,None,None,None,None,24.0,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,null,NaN,https://msk-galaktika.ru/\?utm_source=cian_fev...,Галактика,МОСКОВСКАЯ СТРОИТЕЛЬНАЯ КОМПАНИЯ,None,4.0,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
98,203422187,3265778.0,3,3,https://www.cian.ru/sale/flat/203422187,44973.0,3701250,rur,2019-03-16 00:00:00,2019-04-01 16:47:29,2020-05-19 00:00:00,2020-05-20 00:00:00,16,2.0,NaN,51.71730,39.14811,"Россия\, Воронеж\, улица Антонова-Овсеенко\, 35Э",1,None,NaN,None,NaN,3.0,82.30,NaN,47.5,NaN,24,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,15982239,NaN,NaN,None,25,NaN,5.0,Воронежская область,None,Воронеж,улица Антонова-Овсеенко,35Э,Воронеж,None,Коминтерновский,Северный,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30
99,208724100,1714926.0,3,3,https://www.cian.ru/sale/flat/208724100,350000.0,42000000,rur,2019-05-30 00:00:00,2019-05-30 01:18:04,2020-05-19 00:00:00,2020-05-20 00:00:00,0,NaN,NaN,55.12338,36.60296,"Россия\, Калужская область\, Обнинск\, Белкинс...",1,Test JK,276373.0,Test JK-House-1,NaN,2.0,120.00,NaN,NaN,NaN,2,None,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,2,NaN,NaN,None,None,None,False,False,None,None,NaN,None,None,None,29059756,NaN,NaN,None,13,NaN,NaN,Калужская область,None,Обнинск,Белкинская улица,6,Обнинск,None,None,None,None,NaN,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,None,None,None,None,NaN,1802552.0,183.0,NaN,"Россия\, Калужская область\, Обнинск\, Белкинс...",55.1234,36.6030,2.0,16.0,2013.0,8.0,8.0,NaN,NaN,NaN,2.0,2.0,2.0,2.0,1.0,NaN,NaN,NaN,None,2022-07-05 09:31:24,2019-06-30

In [8]:
def merge_area_price(esc, df, apply_udf = False):
    
    df = df.withColumn('quartal', f.quarter('creationdate')).withColumn('year', f.year('creationdate'))
    df = esc.join(df, on = ['year', 'quartal'], how = 'left')
    print(df.count())
    r_Earth = 6372795
    
    get_dist = f.udf(lambda c1, c2: distance.geodesic(c1, c2).m, FloatType())
    
    if apply_udf:    
        df = df.withColumn('dist', 
                    get_dist(f.array('latitude', 'longitude'), f.array('latitude_part', 'longtitude_part'))
                          )
    else:
        df = df.withColumn('dist', 
                r_Earth*2*f.asin( 
                    (f.sin( (f.radians('lat') - f.radians('latitude')) / 2 )**2 + \
                     f.cos(f.radians('lat'))*f.cos(f.radians('latitude')) * f.sin( (f.radians('lng') - f.radians('longitude')) / 2 )**2 )**(1/2)
                                )
                      )
        
    w  = Window.partitionBy('objectid', 'year', 'quartal').orderBy('dist')
    df = df.withColumn('dist_rank', f.dense_rank().over(w))
    df = df.filter(f.col('dist_rank') <= 70)
    return df
dfp = merge_area_price(spark.createDataFrame(obj_df), spark.table('prod_repl_cld_cian.cian_primary_premise')).toPandas()

9293847275

Py4JJavaError: An error occurred while calling o190.collectToPython.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 6 in stage 14.0 failed 4 times, most recent failure: Lost task 6.3 in stage 14.0 (TID 183) (p0dapp-ah2067xp.region.vtb.ru executor 11): ExecutorLostFailure (executor 11 exited caused by one of the running tasks) Reason: Executor heartbeat timed out after 176618 ms
Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2672)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2608)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2607)
	at scala.collection.immutable.List.foreach(List.scala:333)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2607)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1182)
	at scala.Option.foreach(Option.scala:437)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1182)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2860)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2802)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2791)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:952)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2238)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2259)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2278)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2303)
	at org.apache.spark.rdd.RDD.$anonfun$collect$1(RDD.scala:1021)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:406)
	at org.apache.spark.rdd.RDD.collect(RDD.scala:1020)
	at org.apache.spark.sql.execution.SparkPlan.executeCollect(SparkPlan.scala:424)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.$anonfun$executeCollect$1(AdaptiveSparkPlanExec.scala:348)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.withFinalPlanUpdate(AdaptiveSparkPlanExec.scala:376)
	at org.apache.spark.sql.execution.adaptive.AdaptiveSparkPlanExec.executeCollect(AdaptiveSparkPlanExec.scala:348)
	at org.apache.spark.sql.Dataset.$anonfun$collectToPython$1(Dataset.scala:3688)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$2(Dataset.scala:3858)
	at org.apache.spark.sql.execution.QueryExecution$.withInternalError(QueryExecution.scala:510)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3856)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:109)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:169)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:95)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:779)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3856)
	at org.apache.spark.sql.Dataset.collectToPython(Dataset.scala:3685)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.lang.Thread.run(Thread.java:748)

In [9]:
def merge_area_price(esc, df, apply_udf = False):
    df = esc.join(df, on = ['year', 'quartal'], how = 'left')
    print(df.count())
    r_Earth = 6372795
    
    get_dist = f.udf(lambda c1, c2: distance.geodesic(c1, c2).m, FloatType())
    
    if apply_udf:    
        df = df.withColumn('dist', 
                    get_dist(f.array('latitude', 'longitude'), f.array('latitude_part', 'longtitude_part'))
                          )
    else:
        df = df.withColumn('dist', 
                r_Earth*2*f.asin( 
                    (f.sin( (f.radians('latitude_part') - f.radians('latitude')) / 2 )**2 + \
                     f.cos(f.radians('latitude_part'))*f.cos(f.radians('latitude')) * f.sin( (f.radians('longtitude_part') - f.radians('longitude')) / 2 )**2 )**(1/2)
                                )
                      )
        
    w  = Window.partitionBy('objectid', 'year', 'quartal').orderBy('dist')
    df = df.withColumn('dist_rank', f.dense_rank().over(w))
    df = df.filter(f.col('dist_rank') <= 50)
    return df
dfp = merge_area_price(spark.createDataFrame(obj_df), spark.table('prod_dm_cian.cd_soba_primary')).toPandas()

237850553

/opt/cloudera/parcels/AnacondaPy37/envs/python3.7.9/lib/python3.7/site-packages/pyarrow/util.py:43: FutureWarning: pyarrow.open_stream is deprecated as of 0.17.0, please use pyarrow.ipc.open_stream instead.
  warnings.warn(msg, FutureWarning)
[Stage 5:==================================================>   (186 + 14) / 200]24/04/19 02:06:37 ERROR cluster.YarnScheduler: Lost executor 7 on p0drp0-db5051xp.region.vtb.ru: Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
24/04/19 02:06:37 ERROR cluster.YarnScheduler: Lost executor 11 on p0drp0-db5051xp.region.vtb.ru: Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
24/04/19 02:06:37 ERROR cluster.YarnScheduler: Lost executor 13 on p0drp0-db5051xp.region.vtb.ru: Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
24/04/19 02:06:37 ERROR cluster.YarnScheduler: Lost executor 9 on p0drp0-db5051xp.region.vtb.ru: Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
24/04/19 02:06:40 WARN cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Requesting driver to remove executor 7 for reason Container marked as failed: container_e336_1710544669313_24749_01_000010 on host: p0drp0-db5051xp.region.vtb.ru. Exit status: 1. Diagnostics: [2024-04-19 02:06:37.869]Exception from container-launch.
Container id: container_e336_1710544669313_24749_01_000010
Exit code: 1
Shell output: main : command provided 1
main : run as user is vtb70175290
main : requested yarn user is vtb70175290
Getting exit code file...
Creating script paths...
Writing pid file...
Writing to tmp file /srv/hadoop-hdfs/data02/yarn/nm/nmPrivate/application_1710544669313_24749/container_e336_1710544669313_24749_01_000010/container_e336_1710544669313_24749_01_000010.pid.tmp
Writing to cgroup task files...
Creating local dirs...
Launching container...


[2024-04-19 02:06:37.891]Container exited with a non-zero exit code 1. Error file: prelaunch.err.
Last 4096 bytes of prelaunch.err :
Last 4096 bytes of stderr :
5290/appcache/application_1710544669313_24749/blockmgr-fa990004-f02c-4d22-94f9-65c135dae4e9
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data05/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-7b4ace2e-b993-44e1-8db9-25e9aa88dc73
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data07/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-0583be4c-2cd9-4cfb-80fe-71b3575076e2
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data04/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-000a7e4c-a2f4-4ea3-95a1-24b0de1720e3
24/04/19 02:06:37 INFO memory.MemoryStore: MemoryStore started with capacity 7.8 GB
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Connecting to driver: spark://CoarseGrainedScheduler@10.182.77.45:30869
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Successfully registered with driver
24/04/19 02:06:37 INFO executor.Executor: Starting executor ID 7 on host p0drp0-db5051xp.region.vtb.ru
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61765. Attempting port 61766.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61766. Attempting port 61767.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61767. Attempting port 61768.
24/04/19 02:06:37 ERROR executor.CoarseGrainedExecutorBackend: Executor self-exiting due to : Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
java.net.BindException: Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
	at sun.nio.ch.Net.bind0(Native Method)
	at sun.nio.ch.Net.bind(Net.java:444)
	at sun.nio.ch.Net.bind(Net.java:436)
	at sun.nio.ch.ServerSocketChannelImpl.bind(ServerSocketChannelImpl.java:225)
	at io.netty.channel.socket.nio.NioServerSocketChannel.doBind(NioServerSocketChannel.java:134)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.bind(AbstractChannel.java:550)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.bind(DefaultChannelPipeline.java:1334)
	at io.netty.channel.AbstractChannelHandlerContext.invokeBind(AbstractChannelHandlerContext.java:506)
	at io.netty.channel.AbstractChannelHandlerContext.bind(AbstractChannelHandlerContext.java:491)
	at io.netty.channel.DefaultChannelPipeline.bind(DefaultChannelPipeline.java:973)
	at io.netty.channel.AbstractChannel.bind(AbstractChannel.java:248)
	at io.netty.bootstrap.AbstractBootstrap$2.run(AbstractBootstrap.java:356)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:748)
24/04/19 02:06:37 INFO storage.DiskBlockManager: Shutdown hook called
24/04/19 02:06:37 INFO util.ShutdownHookManager: Shutdown hook called


[2024-04-19 02:06:37.900]Container exited with a non-zero exit code 1. Error file: prelaunch.err.
Last 4096 bytes of prelaunch.err :
Last 4096 bytes of stderr :
5290/appcache/application_1710544669313_24749/blockmgr-fa990004-f02c-4d22-94f9-65c135dae4e9
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data05/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-7b4ace2e-b993-44e1-8db9-25e9aa88dc73
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data07/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-0583be4c-2cd9-4cfb-80fe-71b3575076e2
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data04/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-000a7e4c-a2f4-4ea3-95a1-24b0de1720e3
24/04/19 02:06:37 INFO memory.MemoryStore: MemoryStore started with capacity 7.8 GB
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Connecting to driver: spark://CoarseGrainedScheduler@10.182.77.45:30869
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Successfully registered with driver
24/04/19 02:06:37 INFO executor.Executor: Starting executor ID 7 on host p0drp0-db5051xp.region.vtb.ru
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61765. Attempting port 61766.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61766. Attempting port 61767.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61767. Attempting port 61768.
24/04/19 02:06:37 ERROR executor.CoarseGrainedExecutorBackend: Executor self-exiting due to : Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
java.net.BindException: Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
	at sun.nio.ch.Net.bind0(Native Method)
	at sun.nio.ch.Net.bind(Net.java:444)
	at sun.nio.ch.Net.bind(Net.java:436)
	at sun.nio.ch.ServerSocketChannelImpl.bind(ServerSocketChannelImpl.java:225)
	at io.netty.channel.socket.nio.NioServerSocketChannel.doBind(NioServerSocketChannel.java:134)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.bind(AbstractChannel.java:550)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.bind(DefaultChannelPipeline.java:1334)
	at io.netty.channel.AbstractChannelHandlerContext.invokeBind(AbstractChannelHandlerContext.java:506)
	at io.netty.channel.AbstractChannelHandlerContext.bind(AbstractChannelHandlerContext.java:491)
	at io.netty.channel.DefaultChannelPipeline.bind(DefaultChannelPipeline.java:973)
	at io.netty.channel.AbstractChannel.bind(AbstractChannel.java:248)
	at io.netty.bootstrap.AbstractBootstrap$2.run(AbstractBootstrap.java:356)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:748)
24/04/19 02:06:37 INFO storage.DiskBlockManager: Shutdown hook called
24/04/19 02:06:37 INFO util.ShutdownHookManager: Shutdown hook called



24/04/19 02:06:40 WARN cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Requesting driver to remove executor 11 for reason Container marked as failed: container_e336_1710544669313_24749_01_000014 on host: p0drp0-db5051xp.region.vtb.ru. Exit status: 1. Diagnostics: [2024-04-19 02:06:37.885]Exception from container-launch.
Container id: container_e336_1710544669313_24749_01_000014
Exit code: 1
Shell output: main : command provided 1
main : run as user is vtb70175290
main : requested yarn user is vtb70175290
Getting exit code file...
Creating script paths...
Writing pid file...
Writing to tmp file /srv/hadoop-hdfs/data05/yarn/nm/nmPrivate/application_1710544669313_24749/container_e336_1710544669313_24749_01_000014/container_e336_1710544669313_24749_01_000014.pid.tmp
Writing to cgroup task files...
Creating local dirs...
Launching container...


[2024-04-19 02:06:37.937]Container exited with a non-zero exit code 1. Error file: prelaunch.err.
Last 4096 bytes of prelaunch.err :
Last 4096 bytes of stderr :
290/appcache/application_1710544669313_24749/blockmgr-9189f166-6520-49ad-bd35-134eb5e38468
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data09/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-df2bf865-f16f-48fd-84d2-a50a3644ab5e
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data03/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-021e85f5-7850-461f-a9da-749b0cacae0e
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data04/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-eb8d8cfd-6322-4626-b10f-7b4aa98eb3a4
24/04/19 02:06:37 INFO memory.MemoryStore: MemoryStore started with capacity 7.8 GB
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Connecting to driver: spark://CoarseGrainedScheduler@10.182.77.45:30869
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Successfully registered with driver
24/04/19 02:06:37 INFO executor.Executor: Starting executor ID 11 on host p0drp0-db5051xp.region.vtb.ru
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61765. Attempting port 61766.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61766. Attempting port 61767.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61767. Attempting port 61768.
24/04/19 02:06:37 ERROR executor.CoarseGrainedExecutorBackend: Executor self-exiting due to : Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
java.net.BindException: Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
	at sun.nio.ch.Net.bind0(Native Method)
	at sun.nio.ch.Net.bind(Net.java:444)
	at sun.nio.ch.Net.bind(Net.java:436)
	at sun.nio.ch.ServerSocketChannelImpl.bind(ServerSocketChannelImpl.java:225)
	at io.netty.channel.socket.nio.NioServerSocketChannel.doBind(NioServerSocketChannel.java:134)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.bind(AbstractChannel.java:550)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.bind(DefaultChannelPipeline.java:1334)
	at io.netty.channel.AbstractChannelHandlerContext.invokeBind(AbstractChannelHandlerContext.java:506)
	at io.netty.channel.AbstractChannelHandlerContext.bind(AbstractChannelHandlerContext.java:491)
	at io.netty.channel.DefaultChannelPipeline.bind(DefaultChannelPipeline.java:973)
	at io.netty.channel.AbstractChannel.bind(AbstractChannel.java:248)
	at io.netty.bootstrap.AbstractBootstrap$2.run(AbstractBootstrap.java:356)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.SingleThreadEventExecutor.runAllTasks(SingleThreadEventExecutor.java:472)
	at io.netty.channel.nio.NioEventLoop.run(NioEventLoop.java:500)
	at io.netty.util.concurrent.SingleThreadEventExecutor$4.run(SingleThreadEventExecutor.java:989)
	at io.netty.util.internal.ThreadExecutorMap$2.run(ThreadExecutorMap.java:74)
	at io.netty.util.concurrent.FastThreadLocalRunnable.run(FastThreadLocalRunnable.java:30)
	at java.lang.Thread.run(Thread.java:748)
24/04/19 02:06:37 INFO storage.DiskBlockManager: Shutdown hook called
24/04/19 02:06:37 INFO util.ShutdownHookManager: Shutdown hook called


[2024-04-19 02:06:37.946]Container exited with a non-zero exit code 1. Error file: prelaunch.err.
Last 4096 bytes of prelaunch.err :
Last 4096 bytes of stderr :
290/appcache/application_1710544669313_24749/blockmgr-9189f166-6520-49ad-bd35-134eb5e38468
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data09/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-df2bf865-f16f-48fd-84d2-a50a3644ab5e
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data03/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-021e85f5-7850-461f-a9da-749b0cacae0e
24/04/19 02:06:37 INFO storage.DiskBlockManager: Created local directory at /srv/hadoop-hdfs/data04/yarn/nm/usercache/vtb70175290/appcache/application_1710544669313_24749/blockmgr-eb8d8cfd-6322-4626-b10f-7b4aa98eb3a4
24/04/19 02:06:37 INFO memory.MemoryStore: MemoryStore started with capacity 7.8 GB
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Connecting to driver: spark://CoarseGrainedScheduler@10.182.77.45:30869
24/04/19 02:06:37 INFO executor.CoarseGrainedExecutorBackend: Successfully registered with driver
24/04/19 02:06:37 INFO executor.Executor: Starting executor ID 11 on host p0drp0-db5051xp.region.vtb.ru
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61765. Attempting port 61766.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61766. Attempting port 61767.
24/04/19 02:06:37 WARN util.Utils: Service 'org.apache.spark.network.netty.NettyBlockTransferService' could not bind on port 61767. Attempting port 61768.
24/04/19 02:06:37 ERROR executor.CoarseGrainedExecutorBackend: Executor self-exiting due to : Unable to create executor due to Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
java.net.BindException: Address already in use: Service 'org.apache.spark.network.netty.NettyBlockTransferService' failed after 3 retries (starting from 61765)! Consider explicitly setting the appropriate port for the service 'org.apache.spark.network.netty.NettyBlockTransferService' (for example spark.ui.port for SparkUI) to an available port or increasing spark.port.maxRetries.
	at sun.nio.ch.Net.bind0(Native Method)
	at sun.nio.ch.Net.bind(Net.java:444)
	at sun.nio.ch.Net.bind(Net.java:436)
	at sun.nio.ch.ServerSocketChannelImpl.bind(ServerSocketChannelImpl.java:225)
	at io.netty.channel.socket.nio.NioServerSocketChannel.doBind(NioServerSocketChannel.java:134)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.bind(AbstractChannel.java:550)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.bind(DefaultChannelPipeline.java:1334)
	at io.netty.channel.AbstractChannelHandlerContext.invokeBind(AbstractChannelHandlerContext.java:506)

In [7]:
dfp.count()

year                        1743172
quartal                     1743172
objectid                    1743172
latitude                     615740
longitude                    615740
jk_id                       1742054
jk_nm                       1742026
latitude_part               1742054
longtitude_part             1742054
city                        1742054
street                      1719715
house                       1648463
district                    1422040
class_nm                    1031768
rooms_cnt                   1742054
area_range_part             1742054
flat_cnt                    1742054
total_area_part             1742054
offer_price_sqm_amt         1742054
offer_currency_price_nm     1742054
developer_nm                1210653
currency_price_nm           1031326
deadline_actual             1096081
deadline_change             1085959
deadline_plan               1154204
count_fl_cnt                   6477
count_ul_cnt                   6477
bought_price_sqm_info             0
currency_bought_price_nm          0
source_nm                   1742054
system_dt                   1742054
dist                         614657
dist_rank                   1743172
dtype: int64

In [13]:
def filter_dist(df):
    
    def get_scaled_dist(df, col):
        q25 = df[col].quantile(0.25)
        q75 = df[col].quantile(0.75)
        IQR = q75 - q25
        std = df[col][df[col] <= q75 + 1.5*IQR].std()
        df = df.assign(dist_weight = 1 / ((df[col] - df[col].min())/std + 1))
        return df
    
    df = df.groupby(['objectid', 'year', 'quartal']).apply(lambda df: get_scaled_dist(df, 'dist')).reset_index(drop = True)
    df = df.groupby(['objectid', 'year', 'quartal'], as_index = False).apply(lambda df: (df['total_area_part'] * df['dist_weight'] * df['offer_price_sqm_amt']).sum() / (df['total_area_part'] * df['dist_weight']).sum())
    df.columns = ['objectid', 'year', 'quartal', 'mean_price']
    return df
    
fdf = filter_dist(dfp).merge(df_price, on = ['objectid', 'year', 'quartal'], how = 'outer')
#for _, df_ in list(filter_dist(dfp).merge(df_price, on = ['objectid', 'year', 'quartal'], how = 'outer').groupby(['objectid']))[:50]:
#    display(df_)
#    px.line(df_.sort_values('report_date'), x = 'report_date', y = ['mean_price', 'mean_price_per_metr']).show()
#    #px.line(df_.assign(ds = df_['year'].astype('str') + ' q' + df_['quartal'].astype('str')), x = 'ds', y = 'mean_price').show()

/opt/cloudera/parcels/AnacondaPy37/envs/python3.7.9/lib/python3.7/site-packages/ipykernel_launcher.py:14: RuntimeWarning:

invalid value encountered in double_scalars

In [15]:
fdf

,objectid,year,quartal,mean_price,report_date,escrow_inflow,S_inflow,S_object,object_open_date,object_close_date,escrow_plan_close,escrow_fact_close,escrow_object_open_date,escrow_status,region_num,mean_price_per_metr,escrow_volume,S_volume,escrow_max_plan_close,escrow_max_fact_close,escrow_object_min_open_date,open_date,close_date,escrow_min_open_dt,escrow_max_open_dt,S_escrow/S_object,S_escrow,S_share,S
0,1802.0,2019,1,49766.597215,2019-01-31,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77
1,1802.0,2019,1,49766.597215,2019-02-28,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77
2,1802.0,2019,1,49766.597215,2019-03-31,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77
3,1802.0,2019,2,51191.024998,2019-04-30,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77
4,1802.0,2019,2,51191.024998,2019-05-31,NaN,NaN,6247.72,2017-05-12,2021-12-31,NaT,NaT,NaT,Закрыт,18,NaN,0.0,0.00,2022-06-30,2022-01-14,2017-05-12,2017-05-12,2021-12-31,2020-10-31,2021-12-31,1.001609,6257.77,0.000000,6257.77
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21158,46217.0,2022,3,NaN,2022-08-31,NaN,NaN,7900.91,2021-12-28,2023-12-31,NaT,NaT,NaT,Закрыт,16,NaN,0.0,0.00,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.000000,5365.17
21159,46217.0,2022,3,NaN,2022-09-30,NaN,NaN,7900.91,2021-12-28,2023-12-31,NaT,NaT,NaT,Закрыт,16,NaN,0.0,0.00,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.000000,5365.17
21160,46217.0,2023,2,NaN,2023-04-30,25872200.0,324.55,7900.91,2021-12-28,2023-12-31,2024-07-01,2023-12-28,2021-12-28,Закрыт,16,79500.000000,60657040.0,777.14,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.144849,5365.17
21161,46217.0,2023,2,NaN,2023-05-31,16595680.0,218.24,7900.91,2021-12-28,2023-12-31,2024-07-01,2023-12-28,2021-12-28,Закрыт,16,77750.000000,77252720.0,995.38,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.185526,5365.17
21162,46217.0,2023,2,NaN,2023-06-30,24864980.0,329.67,7900.91,2021-12-28,2023-12-31,2024-07-01,2023-12-28,2021-12-28,Закрыт,16,76666.666667,102117700.0,1325.05,2024-07-01,2024-02-19,2021-12-28,2021-12-28,2024-02-29,2022-12-31,2024-02-29,0.679057,5365.17,0.246973,5365.17

24/04/19 10:04:20 WARN security.UserGroupInformation: Exception encountered while running the renewal command for vtb70175290@REGION.VTB.RU. (TGT end time:1713517460000, renewalFailures: 0, renewalFailuresTotal: 1)
ExitCodeException exitCode=1: kinit: Bad format in credentials cache (filename: /home/vtb70175290/.krb5cc_1000650088) while storing credentials

	at org.apache.hadoop.util.Shell.runCommand(Shell.java:1009)
	at org.apache.hadoop.util.Shell.run(Shell.java:902)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:1227)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:1321)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:1303)
	at org.apache.hadoop.security.UserGroupInformation$TicketCacheRenewalRunnable.relogin(UserGroupInformation.java:1077)
	at org.apache.hadoop.security.UserGroupInformation$AutoRenewalForUserCredsRunnable.run(UserGroupInformation.java:988)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

In [14]:
fdf.to_parquet('price_df.parquet')

In [7]:
fdf = pd.read_parquet('price_df.parquet')

In [12]:
fdf[['objectid', 'report_date', *[col for col in fdf.columns if col not in df_price.columns]]].merge(df_price, on = ['objectid', 'report_date']).to_parquet('price_df.parquet')

24/04/25 09:08:41 WARN security.UserGroupInformation: Exception encountered while running the renewal command for vtb70175290@REGION.VTB.RU. (TGT end time:1714032521000, renewalFailures: 0, renewalFailuresTotal: 1)
ExitCodeException exitCode=1: kinit: Bad format in credentials cache (filename: /home/vtb70175290/.krb5cc_1000650088) while storing credentials

	at org.apache.hadoop.util.Shell.runCommand(Shell.java:1009)
	at org.apache.hadoop.util.Shell.run(Shell.java:902)
	at org.apache.hadoop.util.Shell$ShellCommandExecutor.execute(Shell.java:1227)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:1321)
	at org.apache.hadoop.util.Shell.execCommand(Shell.java:1303)
	at org.apache.hadoop.security.UserGroupInformation$TicketCacheRenewalRunnable.relogin(UserGroupInformation.java:1077)
	at org.apache.hadoop.security.UserGroupInformation$AutoRenewalForUserCredsRunnable.run(UserGroupInformation.java:988)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
24/04/25 13:09:25 ERROR cluster.YarnClientSchedulerBackend: YARN application has exited unexpectedly with state SUCCEEDED! Check the YARN application logs for more details.
24/04/25 13:11:26 ERROR util.Utils: Uncaught exception in thread YARN application state monitor
org.apache.spark.rpc.RpcTimeoutException: Futures timed out after [120 seconds]. This timeout is controlled by spark.rpc.askTimeout
	at org.apache.spark.rpc.RpcTimeout.org$apache$spark$rpc$RpcTimeout$$createRpcTimeoutException(RpcTimeout.scala:47)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:62)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:58)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:36)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:76)
	at org.apache.spark.scheduler.cluster.CoarseGrainedSchedulerBackend.requestTotalExecutors(CoarseGrainedSchedulerBackend.scala:594)
	at org.apache.spark.scheduler.cluster.YarnSchedulerBackend.stop(YarnSchedulerBackend.scala:98)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend.stop(YarnClientSchedulerBackend.scala:165)
	at org.apache.spark.scheduler.TaskSchedulerImpl.stop(TaskSchedulerImpl.scala:653)
	at org.apache.spark.scheduler.DAGScheduler.stop(DAGScheduler.scala:2079)
	at org.apache.spark.SparkContext$$anonfun$stop$7.apply$mcV$sp(SparkContext.scala:1963)
	at org.apache.spark.util.Utils$.tryLogNonFatalError(Utils.scala:1388)
	at org.apache.spark.SparkContext.stop(SparkContext.scala:1962)
	at org.apache.spark.scheduler.cluster.YarnClientSchedulerBackend$MonitorThread.run(YarnClientSchedulerBackend.scala:122)
Caused by: java.util.concurrent.TimeoutException: Futures timed out after [120 seconds]
	at scala.concurrent.impl.Promise$DefaultPromise.ready(Promise.scala:223)
	at scala.concurrent.impl.Promise$DefaultPromise.result(Promise.scala:227)
	at org.apache.spark.util.ThreadUtils$.awaitResult(ThreadUtils.scala:220)
	at org.apache.spark.rpc.RpcTimeout.awaitResult(RpcTimeout.scala:75)
	... 9 more
24/04/25 13:11:26 ERROR cluster.YarnSchedulerBackend$YarnSchedulerEndpoint: Sending RequestExecutors(0,0,Map(),Set()) to AM was unsuccessful
org.apache.spark.rpc.RpcTimeoutException: Cannot receive any reply from null in 120 seconds. This timeout is controlled by spark.rpc.askTimeout
	at org.apache.spark.rpc.RpcTimeout.org$apache$spark$rpc$RpcTimeout$$createRpcTimeoutException(RpcTimeout.scala:47)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:62)
	at org.apache.spark.rpc.RpcTimeout$$anonfun$addMessageIfTimeout$1.applyOrElse(RpcTimeout.scala:58)
	at scala.runtime.AbstractPartialFunction.apply(AbstractPartialFunction.scala:36)
	at scala.util.Failure$$anonfun$recover$1.apply(Try.scala:216)
	at scala.util.Try$.apply(Try.scala:192)
	at scala.util.Failure.recover(Try.scala:216)
	at scala.concurrent.Future$$anonfun$recover$1.apply(Future.scala:326)
	at scala.concurrent.Future$$anonfun$recover$1.apply(Future.scala:326)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:36)
	at org.spark_project.guava.util.concurrent.MoreExecutors$SameThreadExecutorService.execute(MoreExecutors.java:293)
	at scala.concurrent.impl.ExecutionContextImpl$$anon$1.execute(ExecutionContextImpl.scala:136)
	at scala.concurrent.impl.CallbackRunnable.executeWithValue(Promise.scala:44)
	at scala.concurrent.impl.Promise$DefaultPromise.tryComplete(Promise.scala:252)
	at scala.concurrent.Promise$class.complete(Promise.scala:55)
	at scala.concurrent.impl.Promise$DefaultPromise.complete(Promise.scala:157)
	at scala.concurrent.Future$$anonfun$map$1.apply(Future.scala:237)
	at scala.concurrent.Future$$anonfun$map$1.apply(Future.scala:237)
	at scala.concurrent.impl.CallbackRunnable.run(Promise.scala:36)
	at scala.concurrent.BatchingExecutor$Batch$$anonfun$run$1.processBatch$1(BatchingExecutor.scala:63)
	at scala.concurrent.BatchingExecutor$Batch$$anonfun$run$1.apply$mcV$sp(BatchingExecutor.scala:78)
	at scala.concurrent.BatchingExecutor$Batch$$anonfun$run$1.apply(BatchingExecutor.scala:55)
	at scala.concurrent.BatchingExecutor$Batch$$anonfun$run$1.apply(BatchingExecutor.scala:55)
	at scala.concurrent.BlockContext$.withBlockContext(BlockContext.scala:72)
	at scala.concurrent.BatchingExecutor$Batch.run(BatchingExecutor.scala:54)
	at scala.concurrent.Future$InternalCallbackExecutor$.unbatchedExecute(Future.scala:601)
	at scala.concurrent.BatchingExecutor$class.execute(BatchingExecutor.scala:106)
	at scala.concurrent.Future$InternalCallbackExecutor$.execute(Future.scala:599)
	at scala.concurrent.impl.CallbackRunnable.executeWithValue(Promise.scala:44)
	at scala.concurrent.impl.Promise$DefaultPromise.tryComplete(Promise.scala:252)
	at scala.concurrent.Promise$class.tryFailure(Promise.scala:112)
	at scala.concurrent.impl.Promise$DefaultPromise.tryFailure(Promise.scala:157)
	at org.apache.spark.rpc.netty.NettyRpcEnv.org$apache$spark$rpc$netty$NettyRpcEnv$$onFailure$1(NettyRpcEnv.scala:206)
	at org.apache.spark.rpc.netty.NettyRpcEnv$$anon$1.run(NettyRpcEnv.scala:243)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.access$201(ScheduledThreadPoolExecutor.java:180)
	at java.util.concurrent.ScheduledThreadPoolExecutor$ScheduledFutureTask.run(ScheduledThreadPoolExecutor.java:293)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)
Caused by: java.util.concurrent.TimeoutException: Cannot receive any reply from null in 120 seconds
	... 8 more
24/04/25 13:11:26 WARN netty.NettyRpcEnv: Ignored failure: org.apache.spark.rpc.RpcTimeoutException: Cannot receive any reply from null in 120 seconds. This timeout is controlled by spark.rpc.askTimeout
24/04/28 07:11:56 WARN util.JavaUtils: Attempt to delete using native Unix OS command failed for path = /tmp/spark-36f59ce9-75aa-4d88-a5bc-c43637b73bad. Falling back to Java IO way
java.io.IOException: Failed to delete: /tmp/spark-36f59ce9-75aa-4d88-a5bc-c43637b73bad
	at org.apache.spark.network.util.JavaUtils.deleteRecursivelyUsingUnixNative(JavaUtils.java:171)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:110)
	at org.apache.spark.network.util.JavaUtils.deleteRecursively(JavaUtils.java:91)
	at org.apache.spark.util.Utils$.deleteRecursively(Utils.scala:1110)
	at org.apache.spark.util.ShutdownHookManager$$anonfun$1$$anonfun$apply$mcV$sp$3.apply(ShutdownHookManager.scala:65)
	at org.apache.spark.util.ShutdownHookManager$$anonfun$1$$anonfun$apply$mcV$sp$3.apply(ShutdownHookManager.scala:62)
	at scala.collection.IndexedSeqOptimized$class.foreach(IndexedSeqOptimized.scala:33)
	at scala.collection.mutable.ArrayOps$ofRef.foreach(ArrayOps.scala:186)
	at org.apache.spark.util.ShutdownHookManager$$anonfun$1.apply$mcV$sp(ShutdownHookManager.scala:62)
	at org.apache.spark.util.SparkShutdownHook.run(ShutdownHookManager.scala:216)
	at org.apache.spark.util.SparkShutdownHookManager$$anonfun$runAll$1$$anonfun$apply$mcV$sp$1.apply$mcV$sp(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anonfun$runAll$1$$anonfun$apply$mcV$sp$1.apply(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anonfun$runAll$1$$anonfun$apply$mcV$sp$1.apply(ShutdownHookManager.scala:188)
	at org.apache.spark.util.Utils$.logUncaughtExceptions(Utils.scala:1993)
	at org.apache.spark.util.SparkShutdownHookManager$$anonfun$runAll$1.apply$mcV$sp(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anonfun$runAll$1.apply(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anonfun$runAll$1.apply(ShutdownHookManager.scala:188)
	at scala.util.Try$.apply(Try.scala:192)
	at org.apache.spark.util.SparkShutdownHookManager.runAll(ShutdownHookManager.scala:188)
	at org.apache.spark.util.SparkShutdownHookManager$$anon$2.run(ShutdownHookManager.scala:178)
	at java.util.concurrent.Executors$RunnableAdapter.call(Executors.java:511)
	at java.util.concurrent.FutureTask.run(FutureTask.java:266)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

In [38]:
for _, df_ in list(dfp.groupby(['objectid']))[:60]:
    pass
    #display(df_)
    #px.histogram(df_, x = 'dist').show()
    #px.box(df_.assign(ds = df_['year'].astype('str') + ' q' + df_['quartal'].astype('str')), x = 'dist', color = 'ds').show()